@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;800&family=Poppins:wght@700&display=swap');

.poppins {
  font-family: 'Poppins', sans-serif;
}

.golos {
  font-family: 'Golos Text', sans-serif;
}

* {
  font-family: 'Golos Text' !important;
}

.logo-gradient {
  background: #FFDE59;
  background: linear-gradient(to bottom, #FFDE59 40%, #20963E 100%);
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
